__pycache__/
manipulation/gpt_tasks/
manipulation/gpt_tasks_old/
manipulation/gpt_rigid_tasks/
RL_sac/
primitive_states/
all_last_state_files_*.txt
all*.gif
env_construction/
example_tasks/
data/
objaverse_utils/data
runs/
video/
video_rl_game/
.hydra/
.vscode/
local_exps/
3d_diffusion_policy/dp3_data/
local_gifs/
*.pth
*.pkl
vtamp/
castxml-linux.tar.gz
dataset.zip
ompl-1.5.2/
rq.txt
dp3_demo/
data
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
dump_each_results.py
legacy/
debug/
one_traj/
rename.py
run-act3d_one.sh
imgs_copy/
one_traj/
trajectory.gif
sbatch_output/
read_pickle.py
run-act3d-ddp-psc_old.sh
.nfs*
3d_diffuser_actor/
train_logs/
weighted_displacement_model/results/
weighted_displacement_model/exps/
weighted_displacement_model/exps_all/
output/
*.npy
data_
data_/
logs/
exps/
