__pycache__/
primitive_states/
all_last_state_files_*.txt
all*.gif
env_construction/
data/
objaverse_utils/data
runs/
video/
video_rl_game/
.hydra/
.vscode/
local_exps/
3d_diffusion_policy/dp3_data/
local_gifs/
*.pth
*.pkl
vtamp/
castxml-linux.tar.gz
dataset.zip
ompl-1.5.2/
rq.txt
dp3_demo/
data
legacy/
debug/
imgs_copy/
one_traj/
trajectory.gif
sbatch_output/
.nfs*
3d_diffuser_actor/
weighted_displacement_model/results/
weighted_displacement_model/exps/
weighted_displacement_model/exps_all/
output/
*.npy
data_
data_/
logs/
exps/
